<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @manager.team.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @manager.name %>
</p>

<p>
  <strong>Hair color:</strong>
  <%= @manager.hair_color %>
</p>

<p>
  <strong>Anger level:</strong>
  <%= @manager.anger_level %>
</p>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
